.credentials-container {
  form {
    input[type="email"],
    input[type="text"],
    input[type="password"] {
      border-radius: 10px;
      border: none;
      background-color: rgb(255, 255, 255);
      border: 1px solid rgb(226, 226, 226);
      font-size: 1rem;
      outline: none;
    }

    input[type="submit"] {
      color: white;
      background-color: rgb(61, 39, 255);
      font-weight: 600;
      border: none;
      border-radius: 10px;
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        background-color: rgb(32, 7, 255);
      }
    }

    .alert {
      font-size: 0.75rem;
      color: red;
    }
  }
}
